body {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.body-container {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
	grid-template-areas:
		'sidebar nav-content nav-content nav-content'
		'sidebar main-content main-content right-sidebar';
	font-family: 'Roboto', sans-serif;
	background-color: #e2e8f0;
}

.nav {
	display: grid;
	grid-template-areas: 'search-bar search-bar right-nav';
	grid-area: nav;
	padding: 20px;
	background-color: white;
}

.nav-content {
	grid-area: nav-content;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex: 1;
	gap: 10px;
	grid-area: search-bar;
}

input {
	width: 70%;
	height: 30px;
	background-color: #e2e8f0;
	border: none;
	border-radius: 20px;
	font-size: 18px;
	padding-left: 10px;
}

.right-nav {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	grid-area: right-nav;
}

.user-bar {
	display: grid;
	grid-template-areas: 'user-info user-info user-buttons';
	grid-area: user-bar;
	padding: 20px;
	background-color: white;
}

.user-icon {
	grid-area: user-icon;
}

.user-greeting {
	grid-area: user-greeting;
}

.user-name-and-handle {
	grid-area: user-name-and-handle;
}

.user-info {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	grid-area: user-info;
}

.user-buttons {
	display: flex;
	grid-area: user-buttons;
	justify-content: center;
	gap: 30px;
}

button {
	color: white;
	background-color: #1992d4;
	border: 0;
	border: 0;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 700;
	height: 40px;
	width: auto;
	padding: 5px 20px 5px 20px;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1),
		6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

button:active {
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5),
		inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.user-name-and-handle {
	font-size: 24px;
	font-weight: 700;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	grid-area: sidebar;
	min-width: 165px;

	color: white;
	background-color: #1992d4;
	height: 100vh;
}

.top-buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.top-buttons > .button-container > button {
	color: white;
	background-color: #1992d4;
	border: none;
}

.button-container {
	display: flex;
	gap: 10px;
}

.bottom-buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.bottom-buttons > .button-container > button {
	color: white;
	background-color: #1992d4;
	border: none;
}

.main-content {
	display: flex;
	flex-direction: column;
	grid-area: main-content;

	background-color: #e2e8f0;
}

.your-projects-title {
	padding: 20px 0px 10px 10px;
	font-size: 18px;
	font-weight: 700;
}

.card-container {
	display: grid;
	padding: 0px 20px 0px 20px;
	overflow: auto;
	gap: 30px;
	grid-template-rows: repeat(2, 2fr);
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card-title {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-left: 10px solid green;
	border-radius: 15px;
	height: auto;
	padding: 20px;
	flex-shrink: 0;
}

.card-icons {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	padding: 10px 20px 0px 0px;
}

.card-content {
	color: #999999;
	font-size: 14px;
}

.right-sidebar {
	grid-area: right-sidebar;
	display: flex;
	flex-direction: column;
	background-color: #e2e8f0;
	padding-right: 30px;
}

.announcement-header {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
	padding-top: 20px;
}

.announcement-cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px;
	background-color: white;
	border-radius: 15px;
}

.announce-content {
	padding-bottom: 20px;
	color: #999999;
	font-size: 14px;
}

.announce-title {
	font-weight: 700;
	padding-bottom: 5px;
}

.announcement-items {
	border-bottom: 1px solid gray;
}

.trending-title {
	font-size: 18px;
	font-weight: 700;
	padding: 20px 0px 20px 0px;
}

.trending-item-container {
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
}

.trending-item {
	display: flex;
	padding: 20px;
	/* justify-content: space-between; */
}

.trending-icon > svg {
	width: 32px;
	height: 32px;
	padding-right: 20px;
}

.trending-handle {
	font-size: 18px;
	font-weight: 700;
}

.trending-tag {
	color: #999999;
	font-size: 14px;
}
